@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #3b82f6;
    --color-secondary: #10b981;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
    --color-success: #10b981;
    --color-gray-light: #f3f4f6;
    --color-gray-dark: #1f2937;
    --color-gray-nav: #0d141f;
    --color-text: #111827;
    --color-border: #e5e7eb;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  h1 {
    @apply text-4xl;
  }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    h5 {
        @apply text-lg;
    }
    h6 {
        @apply text-base;
    }

    form {
        @apply rounded-xl p-4 text-cyan-200; 
    }

    label {
        @apply mt-4; 
    }

    input, select, textarea {
        @apply m-1 rounded-md p-1 bg-gray-600; 
    }
}

@layer utilities {
  .text-primary { color: var(--color-primary); }
  .bg-page { background-color: var(--color-gray-dark); }
  .bg-card { background-color: var(--color-warning); }
  .bg-nav { background-color: var(--color-gray-nav); }
  .bg-success { background-color: var(--color-success); }

  .text-secondary { color: var(--color-secondary); }
  .text-danger { color: var(--color-danger); }

  .text-text { color: var(--color-text); }
  .border-border { border-color: var(--color-border); }
}

@layer components {
    .icon {
        @apply w-6 h-6 inline-block;
    }

    .btn { 
        @apply px-2 py-1 rounded-md bg-blue-500 text-white cursor-pointer hover:bg-blue-600 transition-all duration-100;
    }
}